body {
    background-color:green;
    color:white;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size:x-large;
}
.main {
    margin: 0 auto;
    width:500px;
    height:400px;
}

#holder { 
    border: 5px dashed #ccc; 
    border-radius: 50%;
    width: 300px; 
    height: 300px; 
    margin: auto;
    color:white;
    background:url("images/music-off.png") no-repeat center;
    
}
#holder p {
    padding-top:180px;
    text-align:center;
}
#holder.hover { 
    border: 5px dashed #333; 
    color:black;
    background:url("images/music.png") no-repeat center;
}
#holder.loading { 
    border: 5px dashed #333; 
    color:black;
    background:url("images/loading.gif") no-repeat center;
}

#info {
    display:none;
    width:100%;
    height:100%;
}
#info label {
    font-weight:bold;

}
#info p {
    padding-left:20px;

}

#cover {
    width:300px;
    margin: auto;
}
.back {
        position:absolute;
        top:0px;
        right:10px;
}

#canvas {
    border:1px solid;
    background-color:black;

}
#doge {
 display:none;
    width:100%;
    height:100%;
}
#canvasDoge {
    border:1px solid white;

}

.linkDoge{
    color:green;
}
.linkDoge:hover{
        color:white;
}